.hosting-reservation-main-wrapper {
    .stats-warpper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 30px;
        gap: 20px;

        >* {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px solid $clr6;
            border-radius: 10px;
            padding: 10px;

            p {
                font-weight: 600;
                font-size: rem(14px);
            }

            .container {
                display: flex;
                flex-direction: column;
                gap: 5px;


                .total {
                    font-family: 'AirMedium';
                    padding-inline-end: 3px;
                }

                .percentage {
                    color: #0BDA51;

                    &::before {
                        content: '+';
                        color: $clr6;
                    }
                }
            }




        }
    }

    h1 {
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        color: $clr3;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid $clr6;
        }

        tbody {


            tr:hover {
                background-color: $clr7;
                transition: background-color 0.3s ease-in-out;
            }

            .approved {
                color: #0BDA51;
            }

            .pending {
                color: #FFBF00;
            }

            .declined {
                color: #DC143C;
            }

        }

        th,
        td {
            text-align: start;
            padding: 10px;
        }
    }

    .hosting-banner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;

        .banner-title {
            font-size: rem(50px);
            font-weight: 600;
            width: 600px;
            text-align: center;
        }

        .stats-hosting-con {
            display: flex;
            gap: 20px;

            >* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 320px;
                height: 100px;
                padding: 7px 15px 7px 15px;
                background-color: $clr7;
                border-radius: 10px;

                p {
                    color: $clr4;
                    font-weight: 600;

                }

                h1 {
                    font-size: rem(35px);
                    margin: 0;

                    span {
                        color: $clr3;
                        font-size: rem(20px);
                    }
                }




            }

            .avg-income {

                h1 {
                    color: $clr1;

                    span {
                        color: $clr3;
                        font-size: rem(20px);
                    }
                }
            }
        }
    }
}