.stay-details {
    max-width: 1120px;
    margin: auto;
    .top-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        color: $clr3;
     
        h1 {
            font-family: 'AirBold';
            font-size: rem(26px);
            font-weight: 600;
        }

        .sub-con {
            display: flex;
            justify-content: space-between;
            font-family: 'AirMedium';
            align-items: end;

            .address-info {
                display: flex;
                gap: 10px;

                >span {
                    text-decoration: 0.5px solid $clr3 underline;
                }
                // .stay-address:hover{
                //     background-color: $clr1;
                // }

                .rate-con {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    // font-size: rem(16px);

                    // &::after{
                    //     content: '•';
                    // }
                    svg {
                        font-size: rem(16px);
                        // align-self: flex-start;
                    }
                }
            }

            

            .links-con {
                display: flex;
                gap: 10px;
                color: $clr3;
                >* {
                    display: flex;
                    gap: 6px;
                    border-radius: 10px;

                    >span {
                        text-decoration: 0.5px solid $clr3 underline;
                    }

                    &:hover {
                        background-color: $clr7;
                        cursor: pointer;
                    }

                    svg {
                        font-size: rem(18px);
                        // font-weight: light;
                        // align-self: flex-start;
                    }

                }

                
            }
        }

        

    }

    .gallery-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        gap: 10px;
        margin-bottom: 40px;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .gallery-img-1 {
            grid-row: 1/3;
        }


    }

    .generall-info-wrapper {

        .main-info {
            display: flex;
            align-items: flex-start;
            gap: 100px;

            .info-con-left {
                .info-header {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $clr6 ;

                    .sub-info-con {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-bottom: 25px;

                        .proprietary-info-con {
                            display: flex;
                            gap: 10px;
                            // font-family: 'AirMedium';
                            // font-weight: 600;
                            // font-weight: bolder;
                        }
                    }

                    .small-img-con {

                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .highlights {
                    border-bottom: 1px solid $clr6 ;
                    padding: 20px 0px 20px 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .highlight {
                        display: flex;
                        gap: 10px;

                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 9px;

                            h4 {
                                font-size: rem(16px);
                                color: $clr3;
                                // font-weight: 600;
                            }

                            span {
                                font-size: rem(14px);
                                color: $clr4;

                            }
                        }
                    }
                }


                .info-cover {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid $clr6 ;
                    padding: 20px 0px 20px 0px;
                    font-family: 'AirMedium';

                    h1 {
                        font-size: rem(30px);
                        padding-bottom: 15px;

                        span {
                            color: $clr1;
                            // padding-bottom: 15px;
                        }
                    }

                    >span {
                        margin-bottom: 20px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }

                .info-place-desc {
                    border-bottom: 1px solid $clr6 ;
                    padding-block: 20px;
                    font-size: rem(17px);
                    line-break: strict;

                }

                .amenities {
                    // border-bottom: 1px solid $clr6 ;
                    // padding: 40px 0px 40px 0px;
                    padding-block: 40px;

                    h3 {
                        padding-bottom: 20px;
                    }

                    .amenities-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 14px;
                        font-family: 'AirMedium';

                        span {
                            font-size: rem(18px);
                        }
                    }
                }

                .dates {
                    display: flex;
                    justify-content: center;

                    .MuiCalendarPicker-root {
                        //   background-color: $clr1;
                        margin: 0;
                        // font-size: 20px;

                    }

                    // .MuiButtonBase-root {
                        // color: $clr3;
                    // }

                }
            }

            border-bottom: 1px solid $clr6 ;

        }


        .reviwes {
            // margin: 46px 0px 46px 0px;
            border-bottom: 1px solid $clr6 ;
            padding-block: 40px;

            .reviews-header {
                display: flex;
                align-items: center;
                gap: 5px;
                padding-bottom: 31px;
            }

            .reviews-score-board {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 30px;
                row-gap: 20px;
                padding-bottom: 40px;
                font-size: rem(17px);
                font-family: 'AirMedium';

                .rate-prm {
                    display: flex;
                    justify-content: space-between;

                    >div {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        // justify-content: space-between;
                        progress {
                            accent-color: $clr3;
                            height: 9px;
                            width: 120px;
                            // border: none;
                            // background-color: $clr5;
                            transition: 0.4s ease-in;
                            // -webkit-appearance: none;
                        }
                    }

                }
            }

            .reviwes-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;

                .review-preview {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .user-header {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        span {
                            font-size: rem(18px);
                            font-weight: bold;
                        }

                        .date {
                            font-size: rem(14px);
                            font-weight: 400;
                            color: $clr4;

                        }
                    }

                    .user-img-con {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .about-host {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // gap: 20px;
            // // border-bottom: 1px solid $clr6 ;
            // padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-block: 46px;


            .about-host-header {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .host-title-con {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    span {
                        color: $clr4;
                    }

                }
            }

            .quick-host-info {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                // border-bottom: 1px solid $clr6 ;
                padding-bottom: 40px;

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                .host-stats {
                    gap: 14px;
                    align-items: flex-start;
                }

                button {
                    padding: 13px 23px;
                    font-size: rem(16px);
                    border-radius: 8px;
                    background-color: transparent;
                    border: solid 1px $clr3;
                    font-family: 'AirMedium';
                    cursor: pointer;
                }
            }
        }
    }

    @include for-narrow-layout{
        .links-con{
            display: none;
        }
    }
}