@font-face {
    font-family: 'AirLight';
    src: url(../../../public/assets/fonts/AirbnbCerealLight.woff);
}
@font-face {
    font-family: 'AirBold';
    src: url(../../../public/assets/fonts/AirbnbCerealBold.woff);
}
@font-face {
    font-family: 'AirMedium';
    src: url(../../../public/assets/fonts/AirbnbCerealMedium.woff);
}