// COLOR PALETTE
$clr1: #ff385c;
$clr2: #fff;
// $clr3: #24252b;
$clr3: #222222;
$clr4: #6b6b6b;
$clr5: #a6a8ab;
$clr6: #e1e1e1;
$clr7: #f7f7f7;

// LAYOUT
$layoutPadding: 150px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;


$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;


