.header-wrapper {
    // height: 75px;
    padding-block: 10px;
    border-bottom: 1px solid $clr6;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: $clr2;
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {

            a {
                color: $clr1;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .user-menu {
            display: flex;
            align-items: center;
            border: 1px solid $clr6;
            border-radius: 21px;
            padding: 4px 4px 4px 10px;
            gap: 13px;
            position: relative;
            span{
                font-size: rem(16px);
                // padding-inline-end:10px;
                // padding-inline-start:6px;
                // padding: 0px 10px 0px 10px;
            }
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            &:hover{
                cursor: pointer;
              box-shadow: 0 2px 4px rgba(0,0,0,0.18);
                transition: box-shadow 0.2s ease;
            }

            .dropdown-content{
                position: absolute;
                z-index: 1;
                display: flex;
                flex-direction: column;
                top: 50px;
                right:1px;
                background-color: $clr2;
                // gap: 10px;
                border-radius: 10px;
                width: 200px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.18);
                transition: box-shadow 0.2s ease;
                span{
                    padding: 10px 10px 10px 10px;
                    &:hover{
                        cursor: pointer;
                    //   box-shadow: 0 2px 4px rgba(0,0,0,0.18);
                    //     transition: box-shadow 0.2s ease;
                    background-color: $clr7 ;
                    border-radius: 10px;
                    }
                }
            }
        }
    }
}