.login-signup-main-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: $clr2;
    border: 1px solid $clr4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding: 40px 20px 40px 20px;
    form{
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        
        // align-items: center;
        gap: 20px;
        input{
           width: 200px;
           height: 40px;
           border-radius: 7px;
           border: 1px solid $clr4; 
           &::placeholder{
            color: $clr3;
           }
        }
        button{
            // display: flex;
            // justify-content: flex-end;
            // align-self: flex-end;
        }
    }
}