.stay-reservation {
    display: flex;
    position: sticky;
    top: 130px;
    margin-bottom: 20px;

    .reservation-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid $clr6 ;
        border-radius: 10px;
        width: 372px;
        gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

        .reservation-heder {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .price {
                display: flex;
                gap: 2px;
                padding-top: 4px;
                align-items: baseline;

                h2 {
                    &::before {
                        content: '\0024';

                    }
                }
            }

            .rate-con {
                display: flex;
                align-items: center;
                gap: 5px;

                span:not(:last-child) {
                    font-weight: 600;
                }

                svg {
                    font-size: rem(15px);
                }

                .reviews-length {
                    color: $clr4;
                    font-size: rem(16px);
                    text-decoration: 1px solid $clr4 underline;
                }
            }
        }

        .form-wrapper {

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .inputs-con {
                    border-radius: 10px;

                    .input-date-con {
                        // input[type="date"] {
                        //     width: 50%;
                        //     padding: 15px;
                        //     border-bottom: 1px solid $clr5;

                        //     &[name="checkIn"] {
                        //         border-right: 1px solid $clr5;
                        //     }
                        // }
                        .checkIn {
                            .MuiInputBase-root {
                                width: 164px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 0px;
                                border-bottom-right-radius: 0px;
                                border-bottom-left-radius: 0px;
                            }
                        }

                        .checkOut {
                            .MuiInputBase-root {
                                width: 164px;
                                border-top-right-radius: 10px;
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                                border-bottom-right-radius: 0px;
                            }
                        }



                    }

                    .guests-main-wrapper {
                        position: relative;
                        width: 99.5%;
                        height: 55px;
                        border: 1px solid #c4c4c4;
                        border-top: none;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        margin: 0;
                        padding: 10px 10px 10px 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .text-con {
                            display: flex;
                            flex-direction: column;
                            row-gap: 3px;

                            p {
                                margin: 0;
                                color: $clr4;
                                font-size: rem(15px);
                            }

                            .lable {
                                font-size: rem(13px);

                            }
                        }

                        .arrow-down-icn {
                            color: $clr4;
                            font-size: rem(28px);
                            cursor: pointer;
                        }

                        .grop-consists-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            position: absolute;
                            top: 55px;
                            right: 0px;
                            width: 326px;
                            border: 1px solid $clr6;
                            border-radius: 10px;
                            background-color: $clr2;
                            z-index: 1;

                            .grop-main-con {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 1px solid $clr6;
                                padding: 20px;
                                gap: 5px;

                                &.pets {
                                    border-bottom: none;
                                }

                                .controls-con {
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;

                                    .btn {
                                        display: grid;
                                        align-items: center;
                                        width: 28px;
                                        height: 28px;
                                        border: 1px solid $clr5;
                                        border-radius: 50%;
                                        font-size: rem(16px);
                                        color: $clr4;
                                        background-color: $clr2;
                                        cursor: pointer;

                                        &:hover {
                                            border: 1px solid $clr3;
                                            color: $clr3;
                                        }

                                        &:disabled {
                                            border: 1px solid $clr6;
                                            color: $clr6;
                                        }
                                    }

                                    .val-display {
                                        padding-bottom: 0;
                                        font-size: rem(18px);
                                    }
                                }
                            }
                        }
                    }
                }

                span {
                    align-self: center;
                    padding-bottom: 10px;
                    color: $clr4;
                }

                .btn-container {
                    width: 100%;

                    .btn-text {
                        font-size: rem(15px);
                        color: $clr2;
                    }
                }
            }
        }

        .reservation-breakdown-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .btn-container {
                width: 100%;

                .btn-text {
                    font-size: rem(15px);
                    color: $clr2;
                }
            }

            .price-breakdown-con {
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-weight: 600;

                >* {

                    display: flex;
                    justify-content: space-between;

                    >*:first-child {
                        text-decoration: 0.01rem underline;

                    }
                }

                >:last-child {
                    border-bottom: 1px solid $clr6 ;
                    padding-bottom: 20px;
                }

                .price {

                    &::before {
                        content: '\0024';

                    }
                }

                .green {
                    color: green
                }


            }


            .total-con {
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                .total-price {
                    &::before {
                        content: '\0024';

                    }
                }
            }
        }
    }
}

.confirmation-modal-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $clr6 ;
    border-radius: 10px;
    width: 430px;
    gap: 20px;
    position: fixed;
    right: 39%;
    top: 16%;
    background-color: $clr2;
    overflow: auto;
    z-index: 12;

    .confirmation-modal-header {
        display: flex;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid $clr6 ;

        .img-container {
            width: 130px;
            height: 115px;
            border-radius: 7px;
        }

        .modal-title {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .property-type {
                color: $clr5;
                font-size: rem(14px);
                font-weight: lighter;
            }

            .stay-name {
                color: $clr4;
                font-size: rem(14px);
                font-weight: lighter;
            }
        }


    }

    .your-trip-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid $clr6 ;
        padding-bottom: 22px;

        .trip-dates-wrapper {
            display: flex;
            justify-content: space-between;

            .dates-con {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .trip-guest-wrapper {
            display: flex;
            justify-content: space-between;

            .guest-con {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

        }

        .edit-dates {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .wind-cover-con {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-bottom: 20px;
        border-bottom: 1px solid $clr6 ;
        font-size: rem(17px);

        .wind-cover {
            color: $clr1;
            font-weight: bold;
        }
    }

    .price-breakdown-wrapper {
        display: flex;
        flex-direction: column;

        .price-breakdown-con {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            >* {

                display: flex;
                justify-content: space-between;

                >*:first-child {
                    text-decoration: 0.01rem underline;

                }
            }

            >:last-child {
                border-bottom: 1px solid $clr6 ;
                padding-bottom: 20px;
            }

            .price {
                font-size: rem(18px);

                &::before {
                    content: '\0024';
                }
            }

        }

        .btn-container {

            width: 100%;

            .btn-text {
                font-size: rem(15px);

                color: $clr2;
            }
        }

        .total-con {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: rem(18px);
            padding-block: 20px;

            .total-price {
                &::before {
                    content: '\0024';
                }
            }
        }
    }
}