.stay-preview {

    .img-container {
        position: relative;
        border-radius: 20px;

        .prev,
        .next {
            display: none;
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: transparent 0px 0px 0px 1px,
                transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
            border: none;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer;
            align-content: center;

            svg {
                color: $clr3;
                overflow: visible;
                font-size: rem(23px);
            }
        }

        .next {
            left: unset;
            right: 2%;
        }

        .prev {
            right: unset;
            left: 2%;
        }
    }

    &:hover {

        .next,
        .prev {
            display: grid;
        }
    }


    .info-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px 0px 10px 0px;

        .info-header-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 4px;

            .address-info-con {
                span {
                    font-weight: bold;
                    font-size: rem(15px);
                }


            }

            .rate-con {
                display: flex;
                align-items: center;
                gap: 2px;

                svg {
                    font-size: rem(16px);
                    align-self: flex-start;
                }
            }

        }

        // div {
        //     span {
        //         font-weight: bold;
        //         font-size: rem(15px);
        //     }

        //     padding-bottom: 4px;
        // }

        .property-type {
            color: $clr5;
            font-size: rem(14px);
            letter-spacing: rem(0.5px);

        }

        .price {
            display: flex;
            gap: 2px;
            padding-top: 4px;
        }
    }
}