.trip-preview-main-warpper {
    // display: flex;
    // gap: 10px;
    .main-content{
        display: flex;
        gap: 10px;
    }
    
    .img-container {
        width: 130px;
        height: 115px;
        border-radius: 7px;
    }

    .trip-info-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        >*:not(:first-child){
            color: $clr5;
        }
    }

   
}